/*  ========= PORTER ==========  */
/* SIGN IN */
.foundation {
    position: relative;
    max-width: 1200px;
    max-height: 640px;
}
.sign-in-bg-left {
    position: absolute;
    max-width: 600px;
    height: 571px;
    border-radius: 0px 0px 24px 0px;
}
.sign-in-left-top {
    position: absolute;
    width: 344px;
    height: 31.11px;
    top: 92.33px;
    left: 128px;
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.sign-in-left-bottom {
    position: absolute;
    width: 334px;
    height: 31.11px;
    top: 142.51px;
    left: 133px;
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.sign-up-button {
    position: absolute;
    width: 180px;
    height: 48.17px;
    top: 211.75px;
    left: 210px;
    font-weight: 700;
}
.sign-in-img {
    position: absolute;
    width: 317px;
    height: 211.74px;
    top: 308.09px;
    left: 142px;
    border-radius: 16px;
}
.sign-in-title {
    position: absolute;
    width: 160px;
    height: 58px;
    top: 74px;
    left: 832px;
    size: 48px;
    font-weight: 700;
}
.user-name {
    position: absolute;
    min-width: 343.11px;
    height: 48px;
    top: 164px;
    left: 752.89px;
}
.email {
    position: absolute;
    min-width: 343.11px;
    height: 48px;
    top: 236px;
    left: 752px;
}
.password {
    position: absolute;
    min-width: 343.11px;
    height: 48px;
    top: 308px;
    left: 752px;
}
.sign-in-btn {
    position: absolute;
    width: 180px;
    height: 48px;
    top: 396px;
    left: 822px;
}
div.right-sign-in>p {
    position: absolute;
    width: 210px;
    height: 19px;
    top: 476px;
    left: 807px;
    font-weight: 500;
    font-size: 16px;
}
.facebook-sign {
    min-width: 9.64px;
    min-height: 18px;
}
.facebook-border {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    left: 760px;
    top: 519px;
}
.twitter-sign {
    min-width: 22.16px;
    min-height: 18px;

}
.twitter-border {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    left: 845.6px;
    top: 519px;
}
.google-sign {
    min-width: 17.71px;
    min-height: 18px;
}
.google-border {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    left: 931.19px;
    top: 519px;
}
.linkedin-sign {
    min-width: 18px;
    min-height: 18px;
}
.linkedin-border {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    left: 1016.79px;
    top: 519px;
}
.user-icon {
    position: absolute;
    width: 15.51px;
    height: 20px;
    top: 179px;
    left: 763.52px;
    background-color: black;
}
.email-icon {
    position: absolute;
    width: 17.73px;
    height: 15px;
    top: 253px;
    left: 763.52px;
    background-color: black;
}
.password-icon {
    position: absolute;
    width: 13.96px;
    height: 18px;
    top: 323px;
    left: 763.52px;
    background-color: black;
}

/* SIGN UP */
.foundation-sign-up {
    position: relative;
    max-width: 1200px;
    min-height: 640px;
    margin-left: 148px;
    margin-right: 148px;
}
div.left-sign-up>h1 {
    position: absolute;
    width: 177px;
    height: 58px;
    top: 74px;
    left: 220px;
    font-weight: 700;
}
.sign-up-form {
    position: absolute;
    max-width: 319.11px;
}
.input-group-text {
    height: 48px;
}
.user-name-su {
    position: absolute;
    width: 343.11px;
    height: 48px;
    top: 164px;
    left: 128px;
}
.email-su {
    position: absolute;
    width: 343.11px;
    height: 48px;
    top: 236px;
    left: 128px;
}
.password-su {
    position: absolute;
    width: 343.11px;
    height: 48px;
    top: 308px;
    left: 128px;
}
.sign-up-btn {
    position: absolute;
    width: 180px;
    height: 48px;
    top: 396px;
    left: 198px;
}
.sign-up-text {
    position: absolute;
    max-width: 210px;
    max-height: 19px;
    top: 476px;
    left: 183px;
}

.facebook-border-su {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    top: 534px;
    left: 136px;
}
.twitter-border-su {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    top: 534px;
    left: 235px;
}
.google-border-su {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    top: 534px;
    left: 322px;
}
.linkedin-border-su {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #adb5bd;
    border-radius: 24px;
    padding: 24px;
    top: 534px;
    left: 408px;
}
.sign-up-img {
    position: absolute;
    width: 550px;
    height: 439px;
    top: 103px;
    left: 584px;
}
/* ========== JOSH ===========  */



/* p-3 bg-primary text-light py-4 shadow-lg */

/* ============ MEL ============ */



/* ============= HEATHER ============= */

.pay {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pay-2 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pay-con {
    border-radius: 20px;
}

.solutioncon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit:scale-down;
}

.pgraph {
    line-height: 15px;
    font-weight: 600;
}

.clickable {
    width: 90%;
    margin-left: 10px;
}
